.menu{
width: 100px;
position: fixed;
top: 0;
right: 0;
cursor: pointer;
}

.menu-content {
position: absolute;
top: 50px; 
right: 0;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.login, .sign-up {
display: flex;
padding: 8px 16px;
cursor: pointer;
justify-content: space-between;
}

.login:hover, .sign-up:hover {
background-color: #f0f0f0;
  
}
  
.login {
 margin-bottom: 20px;
 text-decoration: none;
  }
  
.sign-up {
margin-top: 20px;
text-decoration: none;
flex-direction: row;
}

