.header{
    
    padding: 10px;
    
}

.log{
    width:150px;
    display: flex;
    margin-right: 100px;
}

.top {
    display: flex; 
    align-items: center; 
}
  
.l, .S{
 font-size: 40px;
 margin-right: 20px;
 text-decoration: none;
 
}

.search-bar {
    width: 200px; 
    padding: 5px;
    margin: 50px;
}
.top{
    display: flex;
    justify-content: space-between; 
  }
  